node_modules
.angular
dist/root/.npmignore
dist/root/index.d.ts
dist/root/package.json
dist/root/public-api.d.ts
dist/root/README.md
dist/root/esm2022/public-api.mjs
dist/root/esm2022/root.mjs
dist/root/esm2022/lib/root.component.mjs
dist/root/esm2022/lib/root.service.mjs
dist/root/esm2022/lib/button/button.component.mjs
dist/root/fesm2022/root.mjs
dist/root/fesm2022/root.mjs.map
dist/root/lib/root.component.d.ts
dist/root/lib/root.service.d.ts
dist/root/lib/button/button.component.d.ts
projects/root/.storybook/main.ts
projects/root/.storybook/preview.ts
projects/root/.storybook/tsconfig.json
projects/root/.storybook/typings.d.ts
