<!-- <app-button title="Small" type="secondary" class="m-2"></app-button>
<app-button size="lg" title="Large" type="outline-success" class="m-2"></app-button>
<app-button size="md" title="Medium" class="m-2"></app-button>
<app-button size="xl" title="Xtra Large" class="m-2"></app-button> -->

<gi-button
    size="small"
    type="none"
    color="primary"
    title="Sudheer"
    image="https://giisaws.s3.ap-southeast-1.amazonaws.com/Test/smartlearn.png?AWSAccessKeyId=AKIAS4VZPWVA5U46NYNG&Expires=1729932088&Signature=Y%2FvHPcpY%2F%2BrXHqN997NqUbnCLfw%3D"
></gi-button>
<gi-chip></gi-chip>
